a {
    text-decoration: none;
    border-color: red;
}

a:link {
  color: red;
}

a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: yellow;
}

/* selected link */
a:active {
  color: blue;
}

li{
    display: inline-block;
    border: 3px solid black;
}
